doctype html
head
    meta(charset='utf-8')
    title React16
    script(src='/public/assets/js/index.js')
    link(rel='stylesheet' href='/public/assets/css/index.css')

div(id='app')
div(id='mocha')